html body {
    margin: 0;
    height: 100%;
  }
  
  .header {
    padding: 15px 0;
    background-color: #ffffff;
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
  }
  
  .logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
  }
  
  .logo-content-img {
    border: solid 0px #42515f;
  }
  
  .emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
  }
  
  .emp-payroll {
    color: #42515f;
  }
  
  * {
    box-sizing: border-box;
  }
  .header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .emp-count{
    background-color: aqua;
    color: brown;
    border-radius: 50%;
    font-size: 16px;
    width: 26px;
    text-align: center;
    display: inline-block;
  }
  .emp-detail-text{
    font: normal normal bold Roboto;
    letter-spacing: 0px;
    color: blue;
    opacity: 1;
  }

  .add-button{
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: brown;
    opacity: 1;
    background: #82a70c no-repeat padding-box;
    border: 1;
    border-radius: 2px;
    outline: wheat;
    cursor: pointer;
    text-decoration : burlywood ;
  }
  .table-main{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
  }
  .table{
    width: 100;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;

  }
  td, th{
    text-align: left;
   padding: 5px 8px;


  }
  th{
    background: #42515f 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    text-align: left;
    font: normal normal medium ;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    border: 0px solid wheat;

  }
  tr:not(first-child){
    background: #82a70c;
    border: 1px sienna;
    border-radius: 0px solid;
  }
  td{
    font: normal normal medium;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
  }
  td:first-child{
    display: flex;
    align-items: center;
  }
  td img:first-child{
    margin-left: 10px;
  }
  td img{
    cursor: pointer;
  }
  .dept-label{
    background-color: antiquewhite;
    border-radius: 40%;
    width: fit-content;
    padding: 1px 7px;
    text-align:center ;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 8px;
  }